@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 211 95% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 36 24% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 36 20% 94%;
    --muted-foreground: 0 0% 40%;

    --accent: 211 95% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 36 20% 90%;
    --input: 36 20% 90%;
    --ring: 211 95% 40%;

    --radius: 0.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
